<%- include('./partials/head') %>
<h2>Articles</h2>
<ul>
  <li><a href="article1.html">article 1</a></li>
  <li><a href="article2.html">article 2</a></li>
  <li><a href="article3.html">article 3</a></li>
</ul>
<%- include('./partials/foot') %>